@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Sunny;
	src: url(/public/fonts/SUNNY\ SPELLS.TTF);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
	width: 0.6em;
	background-color: #f3f4f6;
}

::-webkit-scrollbar-thumb {
	border-radius: 12px;
	background-color: #dc2626;
}

input,
textarea,
button {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: Sunny;
}
