@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
	width: 0.6em;
	background-color: #f3f4f6;
}

::-webkit-scrollbar-thumb {
	border-radius: 12px;
	background-color: #dc2626;
}

input,
textarea,
button {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: 'Poetsen One', sans-serif;
}

footer a {
	font-family: 'Nunito', sans-serif;
}

.menu {
	background-color: transparent;
	cursor: pointer;
}

.line {
	fill: none;
	stroke: black;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .line1 {
	stroke: #dc2626;
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .line3 {
	stroke: #dc2626;
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

@media (min-width: 1921px) {
	.meal-item__img {
		height: 400px;
	}
}
